name: NVCC

on: [push, workflow_dispatch]
  
jobs:

  build:
  
    runs-on: windows-2019

    steps:

      
      - name : wget 
        shell: |
          powershell 
        
        run : |
          $url="https://developer.download.nvidia.com/compute/cuda/redist/cuda_cudart/windows-x86_64/cuda_cudart-windows-x86_64-11.5.50-archive.zip"
      
          $output="cudart.zip"
          Invoke-WebRequest -Uri $url -OutFile $output
          
          #tar -xf $output
          
          #cd $output
          
          ls 

#          $client = new-object System.Net.WebClient
#          $client.Credentials =  Get-Credential 
#          $client.DownloadFile("https://developer.download.nvidia.com/compute/cuda/redist/cuda_nvcc/linux-x86_64/cuda_nvcc-linux-x86_64-11.5.50-archive.tar.xz","nvcc.tar.xz")


      - uses: actions/checkout@v3


      - name: clexe 
        shell: |
          powershell 
          
        run: |
          cd Actions/NVCC/
          
          .\simplest.ps1
